@page "/examenes/agregarExamen"

@using LaboratorioClinicoApp.DTO
@using LaboratorioClinicoApp.Services

@inject ExamenService examenService
@inject PacienteService pacienteService
@inject NavigationManager nav

<link rel="stylesheet" href="/css/Examenes/formularioAgregarEditarExamen.css" />

<div class="container my-4">

    <h3 class="text-center mb-3">Agregar Examen</h3>

    @if (pacientes == null)
    {
        <p>Cargando...</p>
    }
    else
    {
        <EditForm Model="@examen" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <!-- TIPO EXAMEN -->
            <div class="mb-3">
                <label class="form-label">Tipo de Examen *</label>
                <InputText class="form-control" @bind-Value="examen.TipoExamen" required />
            </div>

            <!-- FECHA -->
            <div class="mb-3">
                <label class="form-label">Fecha *</label>
                <InputDate class="form-control" @bind-Value="examen.Fecha" required />
            </div>

            <!-- PACIENTE -->
            <div class="mb-3">
                <label class="form-label">Paciente *</label>
                <InputSelect class="form-select" @bind-Value="examen.IdPaciente" required>
                    <option value="0">Seleccione...</option>
                    @foreach (var p in pacientes)
                    {
                        <option value="@p.Id">@p.Nombre @p.Apellido</option>
                    }
                </InputSelect>
            </div>

            <!-- DESCRIPCIÓN -->
            <div class="mb-3">
                <label class="form-label">Descripción *</label>
                <InputTextArea class="form-control" @bind-Value="examen.Descripcion" required />
            </div>

            <!-- BOTONES -->
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button class="btn btn-secondary ms-2" @onclick="Cancelar">Cancelar</button>
            </div>
        </EditForm>
    }
</div>

@code {
    ExamenDTO examen = new();
    List<PacienteDTO>? pacientes;

    protected override async Task OnInitializedAsync()
    {
        pacientes = await pacienteService.GetPacientes();
        examen.Fecha = DateTime.Now;
    }

    private async Task Guardar()
    {
        await examenService.AddExamen(examen);
        nav.NavigateTo("/examenes");
    }

    private void Cancelar()
    {
        nav.NavigateTo("/examenes");
    }
}
