/* ===== Tarjeta general ===== */
.paciente-card {
    background: white;
    border-radius: 12px;
    padding: 16px;
    height: 100%; /* ← Hace que todas las columnas emparejen */
    display: flex;
    flex-direction: column;
}

    .paciente-card .bottom-buttons {
        margin-top: auto; /* Empuja la sección de botones abajo */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


.paciente-click {
    cursor: pointer;
}

.paciente-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Título igual al estilo Exámenes (azul) */
.paciente-title {
    font-size: 18px;
    color: #1a237e;
    margin-bottom: 10px;
}

/* Info-box azul suave */
.info-box {
    background: #f1f4ff;
    padding: 8px 10px;
    border-radius: 10px;
    margin-bottom: 6px;
    font-size: 14px;
}

.label {
    font-weight: bold;
    margin-right: 3px;
}

/* Centrar todo el contenido del contenedor principal */
.container {
    display: flex;
    justify-content: center;
}

/* Centrar el card */
.card {
    margin: 0 auto;
}



/* Centrar el grid  */
.row {
    justify-content: center;
}

